
body {
	background-color: orange;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

	.menu ul {
		display: flex;
		padding: 0;
		width: center;
		margin: 0 auto;
		list-style: none;
	}

	.menu a {
		display: block;
		padding: 15px;
		background-color: navy;
		text-decoration: none;
		color: #38edf3;
	}

	.menu a:hover {
		background-color: #02741e;
	}

	.menu ul li ul {
		display: none;
	}

	.menu ul li a:hover + ul, .menu ul li ul:hover {
		display: block;
    }
    
    .forma {
        color: navy;
	}
	
	.tabla {
		margin: auto;
	    color: red;
	}

h1{
	color: black;
	text-align: center;
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

h2{
	color: blue;
	text-align: center;
	margin: auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}

h3{
	color: white;
	}

h4{
	color: whitesmoke;
	}

form {
	text-align: center;

}

table p { 
	margin: auto;
	width: center;
}