
body {
	background-color: rgb(233, 231, 231);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

* {
	padding: 0px;
	margin: 0px;
}

# header {
	margin:auto;
	width: 800px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 26px;
}
	
ul, ol {
	list-style: none;
}

	.nav li a {
		background-color:blue;
		color:white;
		text-decoration: none;
		padding: 10px 15px;
		display: block;
	}

	.nav li a:hover{
		background-color:orange;
	}

	.nav > li {
		float: left;
	}

	.nav li ul {
		display: none;
		position: absolute;
		min-width: 140px;
	}

	.nav li:hover > ul {
		display: block;
	}

    .forma {
        color: navy;
	}
	
	.tabla {
		margin: auto;
	    color: black;
	}

h1{
	color: black;
	text-align: center;
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

h2{
	color: blue;
	text-align: center;
	margin: auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}

h3{
	color: black;
	text-align: center;
	}

form {
	text-align: center;

}

table p { 
	margin: auto;
	width: center;
}

.titulo {
	text-align: center;
}

img {
	display: block;
	margin: auto;
}

ul {
	text-align: center;
}

form {
	color: black;
	margin: auto;
}

nav {
	text-align: center;
}